<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/mustache.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jQuery.tmpl.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jsrender.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
